<p>Dear Admin,</p>

<p>The following user has requested access to the site:</p>
<table>
  <tr><td>Email:</td><td><%= @resource.email %></td></tr>
</table>

<p><%= link_to 'Certify', edit_certification_url(@resource, :certification_token => @resource.certification_token) %></p>
